.Footer-container {
    background-color: #3d86cb;
    color: #fff;
    padding: 10px 20px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
}

.Footer-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.Footer-title {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}   

.Footer-dev {
    font-size: 13px;
    font-weight: 400;
    list-style: none;
    margin: 0;
}

.Footer-dev a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.Footer-dev a:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .Footer-container {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .Footer-content {
        position: static;
        transform: none;
    }

    .Footer-title {
        font-size: 12px;
    }

    .Footer-dev {
        font-size: 12px;
    }
}
